<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fables_frontend">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Fablesfrontend"
        android:usesCleartextTraffic="true">
        <activity android:name=".SelectedChapter"></activity>
        <activity android:name=".SelectedBook" />
        <activity android:name=".SelectedGenre" />
        <activity android:name=".Register" />
        <activity android:name=".Login" />
        <activity android:name=".Profile" />
        <activity android:name=".Favorites" />
        <activity android:name=".Recommend" />
        <activity android:name=".Genre" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>